html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Запрещает прокрутку */
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-image: url("./razdel3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.back {
    width: 200px;
    height: 50px;
    background-color: #27b030;
    color: white;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    position: absolute;
    top: 63%;
    left: 10%;
}

.home {
    width: 200px;
    height: 50px;
    background-color: #27b030;
    color: white;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    position: absolute;
    top: 73%;
    left: 10%;
}

.test{
    width: 200px;
    height: 50px;
    background-color: #27b030;
    color: white;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    position: absolute;
    top: 83%;
    left: 10%;
}

/* Скрытие контейнера */
.hidden {
    display: none;
}

#videoContainer {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Видео обёртка */
.videoWrapper {
    position: relative;
    width: 80%;
    max-width: 800px;
    z-index: 10; /* Видео выше, чем фон */
}

/* Видео */
video {
    width: 100%;
    border-radius: 10px;
    position: absolute;
    left: 525px;
    top: 120px;
}

/* Кнопка закрытия */
.closeButton {
    position: absolute;
    top: 120px;
    right: -525px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #27b030;
    color: #000;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
}

.closeButton:hover {
    background-color: #27b000;
}

/* Фон для клика и закрытия */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.b1 {
    position: absolute;
    top: 35%;
    right: 5px;
    width: 110px;
    height: 50px;
    background-color: #27b030;
    color: white;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    font-size: 20px;
    font-family: 'Arial', sans-serif;

}

.b2 {
    position: absolute;
    top: 49%;
    right: 5px;
    width: 110px;
    height: 50px;
    background-color: #27b030;
    color: white;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    font-size: 20px;
    font-family: 'Arial', sans-serif;

}

.b3 {
    position: absolute;
    top: 62.2%;
    right: 5px;
    width: 110px;
    height: 50px;
    background-color: #27b030;
    color: white;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    font-size: 20px;
    font-family: 'Arial', sans-serif;

}

.b1:hover, .b2:hover, .b3:hover, .home:hover, .back:hover {
    background-color: lightsalmon;
}

.pdfFile {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    z-index: 10;
    border: 2px solid #27b030;
    border-radius: 10px;
    background-color: white;
}

.hidden {
    display: none;
}

.closeButtonPDF {
    position: absolute;
    top: 5%;
    right: 10%;
    z-index: 11;
    font-size: 18px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}