html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Запрещает прокрутку */
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-image: url("./soderzh.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.back {
    width: 200px;
    height: 50px;
    background-color: #27b030;
    color: white;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    position: absolute;
    top: 90%;
    right: 40%;
}

.back:hover {
    background-color: lightsalmon;
}

.buttonContainer {
    position: absolute;
    right: 20px;
    top: 50px;
    display: flex;
    flex-direction: column; /* Кнопки располагаются в колонку */
    align-items: center; /* Выравнивание кнопок по центру (по горизонтали) */
    gap: 15px; /* Расстояние между кнопками */
}

.buttonContainer button {
    width: 200px;
    height: 50px;
    background-color: #27b030;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
}

.buttonContainer button:hover {
    background-color: lightsalmon;
}